<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
       <target xsi:type="File" name="file"
              fileName="${basedir}/log"
              layout="${longdate}|${callsite-filename}|${callsite}|${callsite-linenumber}|${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/logs/log.{#}"
              archiveNumbering="Sequence"
              maxArchiveFiles="5"
              keepFileOpen="false" concurrentWrites="true"/>
      <target xsi:type="Console" name="console" layout="${message}"/>
  </targets>
  <rules>
    <!-- <logger name="*" minlevel="Info" writeTo="file,console"/> -->
    <logger name="LoggerFC" minlevel="Info" writeTo="file,console"/>
    <logger name="LoggerF" minlevel="Info" writeTo="file"/>
    <logger name="LoggerC" minlevel="Info" writeTo="console"/>
    <!--
    Trace
    Debug
    Info
    Warn
    Error
    Fatal
    -->
  </rules>
</nlog>
